.header_haeder a:hover{
    border-bottom: 1px solid white;
    color: grey;
}
.tranding_product a:hover{
    border-bottom: 1px solid black;
    color: grey !important;
}

.cellulares a:hover{
    border-bottom: 1px solid black;
    color: grey;
}

button:not(.header_haeder button):hover{
    color: black !important;
}
button:not(.header_haeder button):active{
    outline: 1px solid blue;
    color: skyblue !important;
}