a{
    color: white;
    text-decoration: none;
}
*{
    color: white;
}
li{
    list-style: none;
}
.header_nav select{
    background-color: black;
    border: none;
}
button{
    cursor: pointer;
    text-shadow: 1px 1px 1px black !important;
    font-weight: lighter !important;
}
* a,* p{
    font-size: 16px;
    line-height: 1.5
}