.middle{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.middle .box_video{
    min-height: 500px;
    width: 100%;
    position: relative;

}

.box_video video{
    width: 100%;
}
.middle .anucios{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.63);
    justify-content: flex-end;
    display: flex;
    align-items: center;
    top: -2px;
}
.anucios > div{
    display: flex;
    min-height: 50%;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 10%;
}
.anucios > div > span{
    display: flex;
    height: 50%;
    width: 200px;
    align-items: center;
}
.anucios > div h2 span{
    color: rgb(247, 74, 97);
}
.anucios > div span h1{
    font-size: 6rem;
    color: rgb(240, 22, 51);
    font-weight: bold;
}
.anucios > div> span img{
    height: 150px;
    width: 200px;
}
.anucios > div button{
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: blue;
    font-weight: bold;
    color: white;
    margin: 0px auto;
}

.services{
    min-height: 400px;
    width: 100%;
    padding-top: 10%;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 10% 0%;
}

.services > div{
    width: 100%;
    display: flex;
    min-height: 300px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.services > div span{
    flex-basis:45%;
    min-width: 250px;
    height: 250px;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width:600px){
    .services > div span{
        height: 300px;
    }
    .services > div span img{
        width: 100%;
        height: 80% !important;
    }
}
.services > div span img{
    width: 100%;
    height: 90%;
    border-radius: 2%;
    box-shadow: 1px 1px 4px rgb(13, 0, 56);
}


.services  h3{
    text-align: center;
    width: 100%;
    color: blue;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: .5rem;
}
.services  > h3:last-of-type{
    margin: 5% 0px;
}
.services  > button{
    margin: 0px auto;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgba(2, 2, 54, 0.911);
    font-weight: bold;
    color: white;
    margin: 0px auto;
}
.services > div span img:first-child{
    /* position: absolute;
    z-index: 1; */
    top: 0px;
    left: 0px;

    /* animation: mov_img 5s 0s infinite alternate; */
}
@keyframes mov_img{
    from{
        top: 0%;
        left: 0%;
    }
    from{
        left: 101%;
    }
}












